<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Viomedia test App
		link(rel="stylesheet" href="./assets/static/css/slick.css")
	body
		.app
			button.get-button Загрузить коллекции
			.app__collection
			.app__photos
			.app__image
		script(src="https://code.jquery.com/jquery-1.12.4.min.js"  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="  crossorigin="anonymous")
		script(src="./assets/static/Jq/slick.min.js")